<template>
  <div>   
      <main>
      <div id="container" class="container">   
        <div class= "row">
          <div class="col-md-9 pt-3">
            <div class="d-flex bd-highlight">
              <h1 class="p-2 w-100 bd-highlight">Productos</h1>
              <a class="p-2 flex-shrink-1 bd-highlight" role="button" v-b-modal.modal-nuevo-producto>
                <b-icon-plus-square></b-icon-plus-square> 
              </a>
            </div>      
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Imagen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="p in productos" :key="'tr-item' + p.id">
                    <th>COD{{ p.id }}</th>
                    <th>{{ p.nombre }}</th>
                    <th>{{ p.descripcion }}</th>
                    <th>{{ p.categoria }}</th>
                    <th>{{ p.precio }}€</th>
                    <th>{{ p.stock }}</th>
                    <img :src="p.imagen" class="imagen-grid">
                  </tr>
                </tbody>
            </table>
            <b-modal id="modal-nuevo-producto" ref="modal" title="Agregar nuevo producto" @show="resetModalProducto" @hidden="resetModalProducto" @ok="guardarProducto">
              <form ref="form" @submit.stop.prevent="guardarProducto">
                <b-form-group label="Nombre" label-for="nombre-producto-input" invalid-feedback="Campo obligatorio" :state="productoEstado.nombre">
                  <b-form-input id="nombre-producto-input" v-model="productoForm.nombre" :state="productoEstado.nombre" required ></b-form-input>
                </b-form-group>
                <b-form-group label="Descripción" label-for="descripcion-producto-input" invalid-feedback="Campo obligatorio" :state="productoEstado.descripcion">
                  <b-form-input id="descripcion-producto-input" v-model="productoForm.descripcion" :state="productoEstado.descripcion" required ></b-form-input>
                </b-form-group>
                <b-form-group label="Precio" label-for="precio-producto-input" invalid-feedback="Campo obligatorio" :state="productoEstado.precio">
                  <b-form-input id="precio-producto-input" v-model="productoForm.precio" type="number" :state="productoEstado.precio" required ></b-form-input>
                </b-form-group>
                <b-form-group  label="Stock" label-for="stock-producto-input" invalid-feedback="Campo obligatorio" :state="productoEstado.stock">
                  <b-form-input id="descripcion-stock-input" v-model="productoForm.stock" :state="productoEstado.stock" type="number" required></b-form-input>
                </b-form-group>
                <b-form-group  label="Categoria" label-for="categoria-producto-input" invalid-feedback="Campo obligatorio" :state="productoEstado.categoria">
                  <b-form-select v-model="productoForm.categoria" :options="getCategoriasSelect()" required></b-form-select>
                </b-form-group>
                <b-form-group  label="Imagen" label-for="imagen-producto-input" invalid-feedback="Campo obligatorio" :state="productoEstado.imagen">
                  <b-form-file id="imagen-producto-input" v-model="productoForm.imagenFile" accept="image/jpeg, image/png, image/gif" plain @change="convertirBase64($event)" required></b-form-file>
                </b-form-group>
              </form>
            </b-modal>
          </div>
          <div class="col-md-3 pt-3">
            <div class="d-flex bd-highlight">
              <h1 class="p-2 w-100 bd-highlight">Categorias</h1>
              <a class="p-2 flex-shrink-1 bd-highlight" role="button" v-b-modal.modal-nueva-categoria>
                <b-icon-plus-square></b-icon-plus-square> 
              </a>        
            </div>
            <ul class="text-left">
              <li v-for="c in categorias" :key="'li-item' + c.nombre">
                {{c.nombre}}
              </li>
            </ul>
            <b-modal id="modal-nueva-categoria" ref="modal" title="Agregar nueva categoria" @show="resetModalCategoria" @hidden="resetModalCategoria" @ok="guardarCategoria">
              <form ref="form" @submit.stop.prevent="guardarCategoria">
                <b-form-group label="Nombre" label-for="nombre-input" invalid-feedback="Campo obligatorio" :state="nombreCategoriaEstado">
                  <b-form-input id="nombre-input" v-model="nombreCategoria" :state="nombreCategoriaEstado" required ></b-form-input>
                </b-form-group>
              </form>
            </b-modal> 
          </div>
        </div>        
      </div>
      </main>
  </div>
</template>

<script>
import logicaProductos from '../logica/logicaProductos';

export default {
  name: 'AdminComponent',
  components: [ ],
  
  data(){
    return {
      imageBase64:null,
      nombreCategoria:null,
      nombreCategoriaEstado: null,
      productoForm:{},
      productoEstado:{},
      productos : [],
      categorias: [],
    }
  },
  created: function () {
    logicaProductos.inicializarProductos(),
    this.productos = logicaProductos.getListaProductos(),
    this.categorias = logicaProductos.getListaCategorias()
  },
  methods: {
      // Funciones para el alta de una nueva categoria
      validarFormularioCategoria() {
        const valid = this.$refs.form.checkValidity()
        this.nombreCategoriaEstado = valid
        return valid
      },

      resetModalCategoria() {
        this.nombreCategoria = ''
        this.nombreCategoriaEstado=null
      },
      
      guardarCategoria(bvModalEvt) {
        bvModalEvt.preventDefault()
        // Salir cuando el form no es validao
        if (!this.validarFormularioCategoria()) {
          return
        }
        // guardamos la nueva categoria
        logicaProductos.guardarCategoria(this.nombreCategoria);
        // Hide the modal manually
        this.$nextTick(() => {
          this.$bvModal.hide('modal-nueva-categoria')
        })
      },


      // Funciones para el alta de un nuevo producto
      validarFormularioProducto() {
        const valid = this.$refs.form.checkValidity()
        this.productoEstado = valid
        return valid
      },
      resetModalProducto() {
        this.productoForm = {}
        this.productoEstado={}
      },
      
      guardarProducto(bvModalEvt) {
        bvModalEvt.preventDefault()
        // Salir cuando el form no es validao
        if (!this.validarFormularioProducto()) {
          return
        }
        // guardamos el nuevo producto
        logicaProductos.guardarProducto(this.productoForm);
        // Hide the modal manually
        this.$nextTick(() => {
          this.$bvModal.hide('modal-nuevo-producto')
        })
      },

      //Devuelve el listado de categorias para el formulario de alta producto
      getCategoriasSelect() {
        const options = []
        this.categorias.forEach(element => {
          const item = {
            value : element.nombre, 
            text : element.nombre
          }
          options.push(item);          
        });
        //this.productoForm.categoria=options[0].value;
        return options
      },

      // Función para obtener la img en base64
      convertirBase64(fileInput){
        const reader = new FileReader();
        reader.onload = (e) => {
            const image = new Image();
            image.src = e.target.result;
            image.onload = () => {    
              this.productoForm.imagen = e.target.result;                      
            };
        };
        reader.readAsDataURL(fileInput.target.files[0]);    
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  text-align: left;
}
li {
  text-align: left;
}
img {
  width: 3.5rem;
  margin-top: 0.5rem;
}
th {
  font-weight: normal;
}
tbody {
  font-weight: normal;
}
</style>