<template>
<div>
  <h1>Carrito</h1>               
  <div  class="row border-bottom border-top pt-3 ml-0">
      <div class="col-7 p-0">
          <div class="shopping-cart-header">
              <h6>Producto</h6>
          </div>
      </div>
      <div class="col-3 p-0">
          <div class="shopping-cart-header">
              <h6 class="text-center">Cantidad</h6>
          </div>
      </div>
      <div class="col-2 p-0">
          <div class="shopping-cart-header">                                
          </div>
      </div>
  </div>
  <div id=listaCompra>
       <li class="row border-bottom pt-3 ml-0 prouducto-carrito" v-for="p in productosCarrito" :key="'li-item' + p.idProducto">
        <div class="col-3 p-0" >
            <img :src="p.imgProducto" alt="">
        </div>
        <div class="col-4 p-0">
            <h6 class="m-0">{{p.nombreProducto}}</h6>
            <p class="m-0">{{p.cantidadProducto * p.precioProducto}} €</p>
            <p class="m-0">COD{{p.idPruducto}}</p>
        </div> 
        <div class="col-3 p-0 text-center">
            <p class="m-0">{{p.cantidadProducto}}</p>
        </div>  
        <a class="col-2 text-right btn-eliminar-carrito" role="button"  @click="eliminarProducto(p)"> <b-icon-trash-fill></b-icon-trash-fill> </a>    
    </li>      
  </div>      
  <div class="d-flex">
      <div class="p-2 w-100 alinear-izq">Total</div>
      <div id="total" class="p-2 flex-shrink-1">{{ actualizarTotal() }}€</div>
  </div>
  <div class="alinear-izq">
      <b-button id="boton-pedido" class="btn btn-success" :disabled="actualizarTotal()<=0" v-b-modal.modal-compra>Realizar Pedido</b-button> 
       <b-modal id="modal-compra" title="Compra realizada">
            <p>La compra se ha realizado correctamente</p>
        </b-modal>                       
  </div>
</div>
</template>

<script>

import logicaCarrito from '../logica/logicaCarrito';
import logicaProductos from '../logica/logicaProductos';

export default {
  name: 'CarritoComponent',
  data(){
      return{
        productosCarrito : logicaCarrito.data.productosCarrito,
        total: logicaCarrito.data.total
      }
  },
  methods: {
    eliminarProducto:function(producto){
      logicaCarrito.eliminarProductoCarrito(producto);   
      let productoActualizar = logicaProductos.getProductoById(producto.idProducto);     
      logicaProductos.actualizarStock(productoActualizar.id,productoActualizar.stock+1);
      //this.total=logicaCarrito.data.total
    },
    actualizarTotal:function(){
        return logicaCarrito.data.total
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h1 {
  text-align: left;
}

.btn-eliminar-carrito {
    font-size: 1.3rem;
    color: #BE4C54;
}
.btn-eliminar-carrito:hover{
    color: #BE4C54;
}

.prouducto-carrito img {
    max-width: 50px;
}

.alinear-izq {
    text-align: left;
}

</style>


  
  

