<template> 
      <div>
        
        <main>
            <div class="container">
              <div class="row">
                <div class="col-md-9 mt-0 pt-3">
                    <b-nav tabs>
                      <b-nav-item  v-for="c in categorias" :key="'tab-item' + c.nombre" @click="seleccionCategoria(c.nombre)">{{c.nombre}}</b-nav-item>
                    </b-nav>
                    <div class="tab-content">
                        <div class="row row-cols-1 row-cols-md-3 mt-0 g-4 p-2">                          
                          <div class="card col-sm-6 col-md-4 mt-0 p-0 text-center" v-for="p in productos" :key="'card-item' + p.id">
                            <ProductoComponent :producto=p></ProductoComponent>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-3">
                  <CarritoComponent></CarritoComponent>                  
                </div>      
              </div>
            </div>
        </main>
        
      </div>
</template>

<script>

import ProductoComponent from './ProductoComponent.vue';
import CarritoComponent from './CarritoComponent.vue';

import logicaProductos from '../logica/logicaProductos'

export default {
  components: { ProductoComponent, CarritoComponent },
  name: 'CompraComponent',
  data(){
    return {
      categorias:[],
      productos:[]
    }
  },
  methods: {
    seleccionCategoria:function(categoria){
      this.productos = logicaProductos.getListaProductosByCategoria(categoria);
    }
  },

  created: function () {  
    logicaProductos.inicializarProductos();
    this.categorias = logicaProductos.data.categorias;
    this.productos = logicaProductos.getListaProductosByCategoria(this.categorias[0].nombre);    
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>

