<template>
 <footer class="footer bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Social media -->
      <section>
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><b-icon-facebook></b-icon-facebook></a>      
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><b-icon-twitter></b-icon-twitter></a>      
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><b-icon-instagram></b-icon-instagram></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white">CompraOnline</a>
    </div>
    <!-- Copyright -->
</footer>
</template>

<script>
  export default {
    name: 'FooterComponent'
  }
</script>
