<template>
<div>
  <header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CompraOnline </a>
    </nav>
</header>
</div>
</template>

<script>
export default {
  name: 'HeaderComponent'
}
</script>
