<template>
    <div class="card-body">
      <b-img class="img-thumbnail producto-imagen" :class="producto.stock<=0 ? 'oscurecer-img' : 'zoom'" :src="producto.imagen" fluid alt="Responsive image"></b-img>
      <h5 class="card-title" style="font-weight: bold;">{{producto.nombre}}</h5>
      <p class="card-text">COD{{producto.codigo}}</p>
      <p class="card-text">{{producto.descripcion}}</p>
      <p class="card-text" style="font-weight: bold;">{{producto.precio}} €</p>
      <p class="card-text">{{producto.stock}} disponibles</p>
      <b-button variant="primary"  :disabled="producto.stock<=0" @click="agregarAlCarrito(producto)">Agregar al carrito</b-button>
    </div>
</template>

<script>
import logicaCarrito from '../logica/logicaCarrito'
import logicaProductos from '../logica/logicaProductos'

export default {
  name: 'ProductoComponent',
  props: {
    producto:Object
  },
  methods: {
    agregarAlCarrito:function(producto){
      logicaCarrito.agregarProducto(producto);
      logicaProductos.actualizarStock(producto.id,producto.stock-1);
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  p {
    margin-bottom: 0%;
  }

  .producto-imagen {
    max-height: 250px;
    border-radius: 5px;
  }
  
  .prouducto-carrito img {
    max-width: 50px;
  }
  
  .zoom { 
    transition: transform .3s; /* Animación */
  }
  
  .zoom:hover {
    transform: scale(1.7); /*130% de Zoom */
  }

  .oscurecer-img{
    filter: brightness(35%);
  }
  
  .aclarar-img{
    filter: brightness(100%);
  }

</style>
